<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Detalle de ingreso egreso</h4>

        <table class="table">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Monto</th>
              <th>Tipo</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of items">
              <td>{{ item.description }}</td>
              <td>{{ item.monto | currency }}</td>
              <td>
                <span
                  [ngClass]="{
                    'text-success': item.type === 'entry',
                    'text-danger': item.type === 'egress'
                  }"
                  >{{ item.type }}</span
                >
              </td>
              <td>
                <button class="btn btn-danger" (click)="deleteItem(item.uid)">
                  <i class="fa fa-trash"></i> borrar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
