<div class="row">
  <div class="col-6">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-money-bill-alt text-success icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Ingresos</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">
                {{ Entry | currency }}
              </h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i>
          {{ totalEntry }}Ingressos
        </p>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-shipping-fast text-danger icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Egresos</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">
                {{ Egress | currency }}
              </h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i
          >{{ totalEgress }} Egressos
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row m-5">
  <div class="col-12">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-building text-info icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Diferencia</p>
            <div class="fluid-container">
              <h3
                [ngClass]="{
                  'text-success': Entry - Egress > 0,
                  'text-danger': Entry - Egress < 0
                }"
                class="font-weight-medium text-right mb-0"
              >
                {{ Entry - Egress | currency }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 
  <div class="col-12 p-5" *ngIf="ingresos > 0 || egresos > 0">
      <div class="card card-statistics">
        <div class="card-body">
          <h1 class="card-title">Gráfica</h1>

             gráfica ira aquí  
            <div style="display: block">
                <canvas baseChart
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        chartType="doughnut"></canvas>
              </div>


        </div>
      </div>
  </div> -->
</div>
